/******************************************************************
Ant Earth by Octavia N. (https://github.com/Lolabird/everforest-ant-dark-trilium-theme)

This theme inspired by and meant to be paired with the KDE Plasma theme Ant Dark and the more generally available theme EverForest.
******************************************************************/
/*****FONT IMPORTS*****/
@font-face {
     font-family: "Jost";
     src: url('/custom/themes/EFAD/Jost-300-Light.woff2') format("woff2");
     font-weight: 300;
     font-style: normal;
}
@font-face {
     font-family: "Jost";
     src: url('/custom/themes/EFAD/Jost-300-LightItalic.woff2') format("woff2");
     font-weight: 300;
     font-style: oblique;
}
@font-face {
     font-family: "JetBrainsMono";
     src: url('/custom/themes/EFAD/JetBrainsMono-Regular.woff2') format("woff2");
     font-weight: 400;
     font-style: normal;
}
@font-face {
     font-family: "JetBrainsMono";
     src: url('/custom/themes/EFAD/JetBrainsMono-Italic.woff2') format("woff2");
     font-weight: 400;
     font-style: oblique;
}
@font-face {
     font-family: "JetBrainsMono";
     src: url('/custom/themes/EFAD/JetBrainsMono-Bold.woff2') format("woff2");
     font-weight: 700;
     font-style: normal;
}
@font-face {
     font-family: "JetBrainsMono";
     src: url('/custom/themes/EFAD/JetBrainsMono-BoldItalic.woff2') format("woff2");
     font-weight: 700;
     font-style: oblique;
}
@font-face {
     font-family: "Jost";
     src: url('/custom/themes/EFAD/Jost-400-Book.woff2') format("woff2");
     font-weight: 400;
     font-style: normal;
}
@font-face {
     font-family: "Jost";
     src: url('/custom/themes/EFAD/Jost-400-BookItalic.woff2') format("woff2");
     font-weight: 400;
     font-style: oblique;
}
@font-face {
     font-family: "Jost";
     src: url('/custom/themes/EFAD/Jost-600-Semi.woff2') format("woff2");
     font-weight: 600;
     font-style: normal;
}
@font-face {
     font-family: "Jost";
     src: url('/custom/themes/EFAD/Jost-600-SemiItalic.woff2') format("woff2");
     font-weight: 600;
     font-style: oblique;
}
@font-face {
     font-family: "Jost";
     src: url('/custom/themes/EFAD/Jost-700-Bold.woff2') format("woff2");
     font-weight: 700;
     font-style: normal;
}
@font-face {
     font-family: "Jost";
     src: url('/custom/themes/EFAD/Jost-700-BoldItalic.woff2') format("woff2");
     font-weight: 700;
     font-style: oblique;
}
@font-face {
     font-family: "Jost";
     src: url('/custom/themes/EFAD/Jost-800-Heavy.woff2') format("woff2");
     font-weight: 800;
     font-style: normal;
}
@font-face {
     font-family: "Jost";
     src: url('/custom/themes/EFAD/Jost-800-HeavyItalic.woff2') format("woff2");
     font-weight: 800;
     font-style: oblique;
}



/*****ROOT (COLOR AND FONT KEY)*****/
:root{
    /***main body (including CKEditor), modal(options menu), and some code colors (see last section for more code colors)*/
    --text-gray: #DEDEDE;
    --devils-gray-lol: #666;
    --background-gray: #192124;
    --soft-gray: #282c34;
    --midish-gray: #444;
    --sand: #D3C6AA;
    --tan: #F4D289;
    --cool-gray: #5D7576;
    --light-turquoise: #6df9f7;
    --italic-orange: #D3C6AA /*sand /*#f4ba92*/;
    --border-orange: #F4D289 /*#A65434 /*#cc6c2c*/;
    --soft-sea-green: #99ccb1;
    --header-font-family: Jost, sans-serif;
    --code-select-gray: #253749;
    --table-header-gray: #30363B;
    --tree-background-gray: #232A2E;
}


/*****HTML (GENERAL STYLES)*****/
/******************************************************************
These are variables that already exist in the native stylesheet, just redefined here. This could have been put in ':root' or 'body{}' but for the sake of organization, I kept them in 'html' where they have been similarly placed in the Light Theme.
******************************************************************/
html {
    --theme-style: dark;

    /***fonts***/
    /*general fonts*/
    --main-font-family: Jost, sans-serif;
    --main-font-size: 1.2rem;

    --tree-font-family: Jost, sans-serif;
    --tree-font-size: 1.3rem;

    --detail-font-family: Jost, sans-serif;
    --detail-font-size: 1.3rem;

   /*code fonts*/
    --monospace-font-family: JetBrainsMono, monospace;
    --monospace-font-size: 1.2rem;

    /***colors***/
    /*main notes window*/
    --main-background-color: var(--background-gray);
    --main-text-color: var(--text-gray);
    --main-border-color: var(--devils-gray-lol);

    /*changes the window icons(x, [], -) and some text fields*/
    --accented-background-color: var(--soft-gray);

    /*changes the edit icons on text notes and the alert messages*/
    --more-accented-background-color: var(--midish-gray);

   /*left, bottom left, and lower upper right icons*/
    --button-background-color: transparent;
    --button-disabled-background-color: var(--midish-gray);
    --button-border-color: var(--text-gray);
    --button-text-color: var(--text-gray);
    --button-border-radius: 5px;

    /*changes button in label detail*/
    --primary-button-background-color: var(--midish-gray);
    --primary-button-text-color:  var(--text-gray);
    --primary-button-border-color:  var(--text-gray);

    /* "muted-text-color" affects several components, but most are individually styled in this doc, so this should only affect the drop shadow of protected notes titles. */
    --muted-text-color: var(--devils-gray-lol);

    /*notes title and text fields in options menu and find (ctrl+f) search*/
    --input-text-color: var(--sand);
    /*affects find (ctrl+f) search input when inactive*/
    --input-background-color: var(--sand);

    /*changes the 'x' on the note tabs and the right+click and trilium (icon) menus*/
    --hover-item-text-color: var(--text-gray);
    /*changes side and right+click menus and note tabs*/
    --hover-item-background-color: var(--soft-gray);

    /*tree*/
    --active-item-text-color: var(--soft-gray);
    --active-item-background-color: var(--sand);
    --left-pane-background-color: var(--tree-background-gray);
    --left-pane-text-color: var(--text-gray);

    /*right+click menus*/
    --menu-text-color: var(--text-gray);
    --menu-background-color: var(--background-gray);

    /*the options menu*/
    --modal-background-color: var(--background-gray);
    --modal-backdrop-color: var(--text-gray);

    /*left and bottom left menus*/
    --launcher-pane-background-color: var(--background-gray);
    --launcher-pane-text-color: var(--sand);

    /*tabs*/
    --active-tab-background-color: var(--sand);
    --active-tab-text-color: var(--background-gray);
    --inactive-tab-background-color: var(--table-header-gray);
    --inactive-tab-text-color: var(--text-gray);
    --active-tab-hover-background-color: var(--text-gray);
    --inactive-tab-hover-background-color: var(--soft-gray);

    /*general*/
    --scrollbar-border-color: var(--sand);
    --tooltip-background-color: var(--background-gray);
    --link-color: var(--light-turquoise);

    --mermaid-theme: default;
}

/*****Image Caption*****/
.ck-content .image>figcaption {
    font-size: 1rem;
    font-weight: 300;
    font-style: oblique;
    color: var(--italic-orange);
}

/*****Scrollbar*****/
::-webkit-scrollbar-thumb{
    background-color: transparent !important;
}
::-webkit-scrollbar-thumb:hover{
    border-color: var(--tan) !important;
}

/*****TABS*****/
.tab-row-widget .note-tab .note-tab-wrapper {
    height: 46px !important;
    font-size: var(--detail-font-size);
    font-family: var(--header-font-family);
}
.tab-row-widget .note-tab .note-tab-title {
    font-size: 1.5rem;
}
.tab-row-widget .note-tab .note-tab-close {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

/*fixes the issue of not being able to access widgets in the top bar*/
.tab-row-filler {
    -webkit-app-region: none !important;
}

/*****TOC*****/
.toc-widget{
    overflow: visible !important;
    font-size: var(--tree-font-size);
}
.toc-widget .toc li {
    text-align: left;
}

/*****Included Notes*****/
.include-note {
    margin-bottom: 1.1rem !important;
}

/*****HEADERS*****/
/*h1 is not defined, because it's not currently an option for headers in the main body*/
body h2 {
    color: #C0902B;
    font-weight: 800;
    font-family: var(--header-font-family);
    font-size: 2rem !important;
}
body h2 code {
    font-size: 1.9rem !important;
    background: transparent !important;
}

body h3 {
    color: #B29556/*E2AA33*/;
    font-weight: 700;
    font-family: var(--header-font-family);
    font-size: 1.9rem !important;
}
body h3 code {
    font-size: 1.78rem !important;
    background: transparent !important;
}

body h4 {
    color: #E2B24D/*C0A05D*/;
    font-weight: 600;
    font-family: var(--header-font-family);
    font-size: 1.78rem !important;
}
body h4 code {
    font-size: 1.65rem !important;
    background: transparent !important;
}

body h5 {
    color: #E3BE6D/*E2BD6D*/;
    font-weight: 600;
    font-family: var(--header-font-family);
    font-size: 1.65rem !important;
}
body h5 code {
    font-size: 1.53rem !important;
    background: transparent !important;
}

body h6 {
    color: var(--tan);
    font-weight: 600;
    font-family: var(--header-font-family);
    font-size: 1.53rem !important;
}
body h6 code {
    font-size: 1.4rem !important;
    background: transparent !important;
}


/*****TABLE*****/
.ck-content .table>figcaption {
    background-color: var(--table-header-gray);
    color: var(--tan);
    font-size: 1.3rem;
    font-weight: 600;
    font-family: var(--header-font-family);
}
.ck-content .table table, .ck-content .table table td, .ck-content .table table th {
    border: none;
}
.ck-content .table table th {
    font-weight: 600 !important;
    font-size: 1.15rem;
    color: var(--sand)
}
tr:nth-child(odd) {
    background-color: var(--table-header-gray);
}
.ck-content .table table th {
    background-color: var(--background-gray) !important;
}
.ck-content .table table tbody tr:nth-child(odd) th{
    background-color: var(--table-header-gray) !important;
}
.ck-content .table table tbody tr:nth-child(even) th{
    background-color: var(--background-gray) !important;
}


/*****TEXT DECORATION*****/
/*bold*/
body strong {
  color:var(--sand);
  font-weight: 800;
}

/***lists***/
body ul.todo-list li {
    color: var(--soft-sea-green);
}
li label {
    display: inline;
    line-height: 2rem;
}
.ck-content .todo-list .todo-list__label>input[checked]:before{
    background: var(--soft-sea-green);
    border-color: var(--soft-sea-green);
    color: var(--background-gray);
}
.ck-content .todo-list .todo-list__label > input:before {
    border: 1px solid var(--soft-sea-green) !important;
}

/***italics and quotes***/
body i {
    color:  var(--italic-orange);
}

.ck-content blockquote {
    color: var(--italic-orange);
    font-weight: 300;
    font-size: 1.5rem;
    overflow: hidden;
    padding-right: 1.5em;
    padding-left: .5em;
    margin-left: 0;
    margin-right: 0;
    font-style: italic;
    border-left: 3px solid var(--border-orange);
}
.ck-content blockquote p{
    margin-bottom: 0;
    padding-bottom: .3em;
}



/*****ICONS*****/
/*main note icon*/
.note-icon::before {
    color: var(--devils-gray-lol);
}
.note-icon:hover::before {
    color: var(--sand);
    border-color: var(--sand) !important; /*not working*/
}
.note-icon:focus::before, .bx-calendar:focus::before {
    color: var(--sand);
}
.icon-list {
    color: var(--soft-sea-green);
}

/***note properties menu***/
.ribbon-tab-title-icon {
     color: var(--devils-gray-lol);
}
.ribbon-tab-title-icon:hover {
     color: var(--sand);
}

/***left (side and bottom) and upper right menus***/
.icon-action, .tree-floating-button, .top-btn button, .minimize-btn button, .maximize-btn button, .close-btn button {
    color: var(--sand) !important;
}
.icon-action:hover, .tree-floating-button:hover, .top-btn button:hover, .minimize-btn button:hover, .maximize-btn button:hover, .close-btn button:hover, button.button-widget:hover, .sync-status-widget:hover {
    color: var(--sand) !important;
    border: none !important;
}


/***tree***/
/*note icon*/
.fancytree-custom-icon {
    color: var(--sand);
}
.note-icon-widget button.note-icon {
    border: none !important;
}
span.fancytree-node.protected > span.fancytree-custom-icon {
    filter: drop-shadow(2px 2px 2px var(--soft-sea-green));
}
/*drop down icon*/
.fancytree-expander::before {
    color: var(--devils-gray-lol);
}
/*tree action buttons*/
button.tree-floating-button {
    font-size: 1.5rem !important;
}


/***Trilium icon***/
body .global-menu-button {
    background-image: url("/assets/vX/images/icon-grey.png");
}


/*****INPUT FIELDS*****/
/***password and options menu fields***/
.form-control {
    color: var(--text-gray) !important;
}
.form-control:focus {
    color: var(--sand) !important;
    background-color: var(--soft-gray);
    border-color: var(--text-gray) !important;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgb(252 251 179 / 50%) !important;
}

.component.title-row{
    margin-top: 10px;
    margin-bottom: 10px;
}
.note-title-widget input.note-title {
    font-family: var(--header-font-family);
    /*font-size: 200% !important;*/
}
.note-title:focus {
    color: var(--text-gray) !important;
    background-color: var(--soft-gray) !important;
    border-color: var(--text-gray) !important;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgb(252 251 179 / 50%) !important;
}

/***selection and find/replace (button)***/
::selection {
    /*color: black !important /*var(--soft-gray)*/;
    background: #253749 !important /*var(--code-select-gray)*/;
}
span.ck-find-result, span.ck-find-result>.ck-find-result_selected {
    color: var(--soft-gray);
}


/*****BUTTONS*****/
.help-button {
    color: hsl(15, 100%, 56%);
}
.help-button:hover {
    color: var(--sand);
}

/***primary and secondary buttons***/
button:focus :not(.close) :not(.help-button) :not(.ck-button-save) :not(.ck-button-cancel), .btn:focus {
    color: var(--text-gray) !important;
    background-color: var(--devils-gray-lol) !important;
    border-color: var(--text-gray) !important;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgb(252 251 179 / 50%) !important;
}
button:hover :not(.close) :not(.help-button) :not(.ck-button-save) :not(.ck-button-cancel), .btn:hover {
    background-color: var(--soft-gray) !important;
    color: var(--sand);
    border-color: var(--sand);
}

/***table sub-menu***/
/*table field input label*/
.ck.ck-labeled-field-view>.ck.ck-labeled-field-view__input-wrapper>.ck.ck-label{
    background: var(--soft-gray);
    color: var(--text-gray);
}
/*table field and button inputs*/
.ck.ck-button:active, .ck.ck-button:focus, a.ck.ck-button:active, a.ck.ck-button:focus, .ck.ck-input-text:focus {
    border: 1px solid var(--text-gray) !important;
    box-shadow: 0 0 0 0.2rem rgb(252 251 179 / 50%) !important;
}
.ck.ck-input-text[readonly]:focus {
    border: 1px solid var(--ck-color-input-disabled-border) !important;
    background: var(--ck-color-input-disabled-background) !important;
    color: var(--ck-color-input-disabled-text) !important;
}
/*color button*/
.ck.ck-input-color>.ck.ck-dropdown>.ck.ck-button.ck-input-color__button.ck-disabled, .ck.ck-input-color>.ck.ck-dropdown>.ck.ck-button.ck-input-color__button.ck-disabled>.ck.ck-input-color__button__preview, .ck.ck-input-color>.ck.ck-dropdown>.ck.ck-button.ck-input-color__button.ck-disabled>.ck.ck-input-color__button__preview>.ck.ck-input-color__button__preview__no-color-indicator {
    border: 1px solid var(--ck-color-input-disabled-border) !important;
}

/*****NOTE MAP*****/
.note-detail-relation-map path, .note-detail-relation-map .jtk-endpoint{
    fill: var(--soft-sea-green) !important;
}
svg.jtk-connector path {
    stroke: var(--soft-sea-green);
    fill: none !important;
}

/*****BACKLINKS POPUP*****/
div.backlinks-items {
    z-index: 10;
    position: absolute;
    top: 50px;
    right: 10px;
    width: 400px;
    border-radius: 10px;
    background-color: var(--soft-gray);
    color: var(--text-gray);
    padding: 20px;
    overflow-y: auto;
    box-shadow: 2px 2px 5px  var(--text-gray);
}
div.backlinks-items div:hover {
    background-color: var(--code-select-gray);
}
.backlink-excerpt .backlink-link {
     background-color: var(--midish-gray) !important;
}
.backlinks-ticker:hover {
    background-color: var(--code-select-gray);
}

/*****Attributes Popup*****/
.attr-help td {
    color: var(--text-gray) !important;
}

/*****CODE IN TEXT NOTES)*****/
/***code blocks***/
.ck-content pre {
    background: var(--soft-gray);
    font-family: monospace;
    font-size: 0.9rem;
    border-color: var(--soft-sea-green);
}
.ck-content pre code  {
    font-family: monospace;
    font-size: 0.9rem;
    background: transparent !important;
    color: var(--soft-sea-green) !important;
}
/*code block label*/
pre::after{
    background: var(--code-select-gray) !important;
    color: var(--sand) !important;
    border-color: var(--sand) !important;
    letter-spacing: 1px;
}

/***inline code***/
.ck-content code, .ck-content code i, .ck-content code strong  {
    font-family:  monospace;
    font-size: .95rem;
    background: var(--soft-gray);
    color: var(--soft-sea-green) !important;
    letter-spacing: 1px;

}
.ck-content .ck-code_selected {
    background-color: var(--code-select-gray) !important;
    letter-spacing: 1px;
}



/*****CKEDITOR*****/
/******************************************************************
NOTE: The following lines of code affect the editor menus. Similar to the General Styles section, the variables below are simply redefined here.

I've commented out the lines that don't seem to have an affect on anything, along with adding a question mark (?) in a comment to differentiate those lines from the rest of the code. They are left here in case anyone wants to experiment and figure out where those lines have an effect. If you find anything, please let me know so I can update the code ^_^
******************************************************************/

body {
    /***overrides generic colors***/
    --ck-color-base-text: var(--border-orange); /*toggled color (editor sub-menu)*/
    --ck-color-base-foreground: var(--midish-gray); /*tiny attached triangle and selection hover*/
    --ck-color-focus-border: var(--sand); /*table and color (editor menu) focus*/
    --ck-color-text: var(--soft-sea-green); /*text color*/
    /* --ck-color-shadow-drop: red; /*?*/
    /* --ck-color-shadow-inner: red; /*?*/

    /***overrides the default '.ck-button' class colors***/
    /*general buttons*/
    --ck-color-button-default-background: transparent;
    --ck-color-button-default-hover-background: var(--midish-gray);
    --ck-color-button-default-active-background: var(--devils-gray-lol);
    --ck-color-button-default-active-shadow: var(--devils-gray-lol); /*thin line on top of active buttons*/
    --ck-color-button-default-disabled-background:  var(--background-gray); /*disabled buttons*/

    /*dropdown buttons*/
    --ck-color-button-on-background: var(--code-select-gray); /*active*/
    --ck-color-button-on-hover-background: var(--midish-gray); /*hover*/
    --ck-color-button-on-active-background: var(--devils-gray-lol); /*exit click on active*/
    --ck-color-button-on-active-shadow: transparent; /*top line on exit click of active*/
    /*--ck-color-button-on-disabled-background: red; /*?*/

    /*find button (editor sub-menu)*/
    --ck-color-button-action-background: var(--tan) !important;
    --ck-color-button-action-hover-background: var(--devils-gray-lol) !important;
    --ck-color-button-action-active-background: var(--tan) !important; /*find button active and field descritpion*/
    --ck-color-button-action-active-shadow: transparent !important; /*top line*/
    /*--ck-color-button-action-disabled-background: red; /*?*/
    --ck-color-button-action-text: var(--soft-gray) !important; /*find button(editor sub-menu)*/

    /*save and cancel*/
    --ck-color-button-save: var(--soft-sea-green) /*hsl(120, 100%, 46%)*/; /*table sub-menu*/
    --ck-color-button-cancel: hsl(15, 100%, 56%); /*table sub-menu*/

    /***overrides the default '.ck-dropdown' class colors (color sub-menus)***/
    --ck-color-dropdown-panel-background: var(--soft-gray);
    --ck-color-dropdown-panel-border: var(--devils-gray-lol);

    /***overrides the default '.ck-splitbutton' class colors***/
    --ck-color-split-button-hover-background: var(--devils-gray-lol);
    --ck-color-split-button-hover-border: var(--soft-sea-green);

    /***overrides the default '.ck-input' class colors***/
    /*--ck-color-input-background: red; /*?*/
    --ck-color-input-border: var(--text-gray); /*inactive (enabled AND disabled) editable field(editor sub-menus)*/
    /*--ck-color-input-text: red; /*?*/
    --ck-color-input-disabled-background: var(--soft-gray); /*disabled color picker(table sub-menu)*/
    --ck-color-input-disabled-border: var(--background-gray); /*disabled editor border (table sub-menu)*/
    --ck-color-input-disabled-text: var(--text-gray); /*editor input text (enable AND disabled)*/

    /***overrides the default '.ck-list' (list menus) class colors***/
    --ck-color-list-background: transparent; /*focus out*/
    --ck-color-list-button-hover-background: var(--midish-gray);
    --ck-color-list-button-on-background:  var(--sand); /*toggled/active*/
    --ck-color-list-button-on-background-focus: var(--devils-gray-lol); /*hover on toggled/active*/
    --ck-color-list-button-on-text: var(--soft-gray); /*toggled/active*/

    /***overrides the default .ck-balloon-panel class colors (overall look and feel of the editor toolbars and sub-menus)***/
    --ck-color-panel-background: var(--soft-gray);
    --ck-color-panel-border: var(--devils-gray-lol);

    /***overrides the default .ck-toolbar class colors***/
    --ck-color-toolbar-background: var(--soft-gray); /*lots of overlap with the above backgound setting*/
    --ck-color-toolbar-border: var(--sand); /*section separators*/

    /***overrides the default .ck-tooltip class colors***/
    --ck-color-tooltip-background: var(--sand);
    --ck-color-tooltip-text: var(--background-gray);

    /* Overrides the default colors used by the ckeditor5-image package.*/
    /*--ck-color-image-caption-background: red; /*?*/
    /*--ck-color-image-caption-text: red; /*?*/

    /***overrides the default colors used by the ckeditor5-widget (image/table) package***/
    --ck-color-widget-blurred-border: var(--devils-gray-lol); /*shows up briefly after switching tabs*/
    --ck-color-widget-hover-border: var(--sand); /*object in focus*/
    --ck-color-widget-editable-focus-background: var(--midish-gray); /*table caption in focus*/

    /***overrides the default colors used by the ckeditor5-link package***/
    /*--ck-color-link-default: red; /*this is overridden by a link setting set earlier in the code*/

    --ck-color-table-focused-cell-background: var(--midish-gray);

    /*--ck-color-todo-list-checkmark-border: red; /*?*/

    --ck-color-engine-placeholder-text: var(--text-gray); /*caption placeholder text*/

    --ck-z-modal: 10000;

    /*--ck-color-widget-type-around-button: red; /*?*/
    --ck-color-widget-type-around-button-hover: var(--tan); /*applies when table/image is in focus*/
}


/*****CODEMIRROR****/
/******************************************************************
NOTE: comments for this section are for how they appear in CSS code notes unless otherwise noted. All code notes have the same color theme, but the application may be different. Some elements are affected the same way accross all code notes (i.e. all strings appear the same across code notes and as do comments, variables, and functions).
******************************************************************/

/***general appearance***/
/*'...line' is for regular code notes text, not sure what '...line-like' is for*/
.CodeMirror pre.CodeMirror-line,
.CodeMirror pre.CodeMirror-line-like {
    color: var(--text-gray);
}

.CodeMirror-linenumber {color: var(--devils-gray-lol);}
.CodeMirror-cursor {
    border-left: 1px solid var(--devils-gray-lol);
}

/***highlighted and selected text in code notes***/
.CodeMirror-selected {
   background-color: var(--code-select-gray);
}
.CodeMirror-focused .CodeMirror-selected {
    background-color: var(--code-select-gray);
}
.cm-s-default .cm-matchhighlight{
    background-color: #030016;
}

/***general elements***/
.cm-s-default .cm-atom {color: #ea5474;} /*fonts and colors (code not words)*/
.cm-s-default .cm-def {color: #5df7e8;} /*@*/
.cm-s-default .cm-qualifier {color:  #269b4d;} /*class*/
.cm-s-default .cm-builtin {color: #9368f7;} /*id-selectors*/
.cm-s-default .cm-tag {color: #06dd87;} /*html tags*/
.cm-s-default .cm-meta {color: #777;}  /*meta (browser compatability) tags*/
.cm-s-default .cm-comment {color: #a57489;} /*comments*/
.cm-s-default .cm-number {color: #ea5474;} /*numbers including units, not including color codes*/
.cm-s-default .cm-keyword {color: #ed363c;} /*color names and keywords*/

/***variables***/
/*a lot of overlap with .cm-s-default .cm-atom. Might be good to separate these if you want to style them individually*/
.cm-s-default .cm-variable,
.cm-s-default .cm-punctuation,
.cm-s-default .cm-property,
.cm-s-default .cm-operator {}
.cm-s-default .cm-variable-2 {color: #08a;} /*custom properties and php variables*/
.cm-s-default .cm-variable-3, .cm-s-default .cm-type {color: #01ad6e;} /*pseudo elements and classes*/

/***strings***/
.cm-s-default .cm-string {color: #f7b2b2;}
.cm-s-default .cm-string-2 {color: #fc7462;} /*applies to some CSS properties*/

/***brackets and parentheses***/
div.CodeMirror span.CodeMirror-matchingbracket {color: #01ba3f;}
div.CodeMirror span.CodeMirror-nonmatchingbracket {color: #c60101;}

/***code errors***/
.cm-s-default .cm-error {color: #f00;}
.cm-invalidchar {color: #f00;}
